/*-- scss:defaults --*/


@import url(https://fonts.googleapis.com/css?family=Fira+Mono&display=swap);
@import url(https://fonts.googleapis.com/css?family=Lato:400,700&display=swap);


// fonts
$font-family-sans-serif: Lato, Helvetica, sans-serif !default;
$font-family-monospace: "Fira Mono", monospace;
$headings-font-family: Lato, Helvetica, sans-serif !default;

//  Warwick colors 
$aubergine: #3C1053;
$aubergine85: #59346d;
$aubergine70: #775887; 
$aubergine50: #9e88a9;
$aubergine30: #c5b7cb;
$aubergine15: #e2dbe5;

$ruby_bright: #CB333B;
$blue_bright: #00A9CE;
$teal_bright: #6DCDB8;
$orange_bright: #E87722;
$gold_bright: #F1BE48;

$teal_dark: #507F70;
$teal_shade: #5DAE9C;

$gray: #58595B;
$gray_dark: #383838;
$black: #000000;
$gray20: #cccccc; // % of black
$gray10: #e6e6e6; // % of black
$gray05: #f2f2f2; // % of black
$white: #ffffff;

$primary:       $aubergine !default;
$body-color: $gray_dark;
//$link-color: $aubergine70;
$link-color: $aubergine;
$code-color: $teal_dark;
$navbar-bg: $primary;
$navbar-fg: $teal_bright;

/*-- scss:rules --*/

// color classes
.primary {
  color: $primary;
}

#quarto-header > nav > div > div.navbar-brand-container.mx-auto > a:hover {
  color: $teal_shade;
}

#navbarCollapse > ul > li > a:hover {
  color: $teal_shade;
}

#navbarCollapse > ul > li > a.active {
  color: $gold_bright;
}

// code
pre.sourceCode {
  border-radius: 0;
  border-left-color: $gray;
}

h1, h2 {
  //text-transform: uppercase;
  font-weight: 700;
}

#quarto-header {
  //text-transform: uppercase;
  font-family: $headings-font-family;
  font-weight: 700;
}

// iframes for slides embedded in talks pages
iframe.slide-deck {
  border: 3px solid $gray;
  width: 100%;
}

.ar4x3 {
  aspect-ratio: 4 / 3;  
}

.ar3x2 {
  aspect-ratio: 3 / 2;  
}

// icon-links
.icon-link {
    background-color: transparent;
    color: $primary;
    border: 2px solid !important;
    border-color: $primary;
    padding: 5px .4rem 5px .4rem !important;
    margin-top: 4px;
    margin-right: 8px;
    margin-bottom: 4px;
    border-radius: 5px; 
    display: inline-block;
    text-decoration: none;
}

.icon-link:hover{
    background-color: $primary;
    border-color: $primary;
    color: $body-bg;
    text-decoration: none;
}

