/*-- scss:defaults --*/

@import url(https://fonts.googleapis.com/css?family=Fira+Mono&display=swap);
@import url(https://fonts.googleapis.com/css?family=Lato:400,700&display=swap);


// fonts
$font-family-sans-serif: Lato, Helvetica, sans-serif !default;
$font-family-monospace: "Fira Mono", monospace;
$headings-font-family: Lato, Helvetica, sans-serif !default;

//  Warwick colors 
// not using all of these, but keep for reference 
// in case we want to change elements of the theme later
$aubergine: #3C1053;
$aubergine85: #59346d;
$aubergine70: #775887; 
$aubergine50: #9e88a9;
$aubergine30: #c5b7cb;
$aubergine15: #e2dbe5;

$ruby_bright: #CB333B;
$blue_bright: #00A9CE;
$teal_bright: #6DCDB8;
$orange_bright: #E87722;
$gold_bright: #F1BE48;

$ruby_dark: #9D2235;
$blue_dark: #41748D;
$teal_dark: #507F70;
$orange_dark: #BE531C;
$gold_dark: #D69A2D;

$blue_mid: #0090AF; // 15% shade of $blue_bright

$gray: #58595B;
$gray_dark: #383838; // this is text colour used on main Warwick site
$black: #000000;
$gray20: #cccccc; // % of black
$gray10: #e6e6e6; // % of black
$gray05: #f2f2f2; // % of black
$white: #ffffff;

$primary:       $aubergine !default;

$presentation-font-size-root: 32px;
$code-block-font-size: .7em;
$presentation-heading-font: Lato, Helvetica, sans-serif !default;
$body-color: $gray_dark;
$link-color: $blue_mid;
$code-color: $ruby_bright;

/*
// Doesn't work in Quarto 1.3 or 1.4, hopefully will be fixed in 1.5
// need to use an inline raw html block directly in hte qmd file
$callout-color-note: $blue_bright;
$callout-color-important: $gold_bright;
$callout-color-tip: $teal_bright;
$callout-color-caution: $orange_bright;
$callout-color-warning: $ruby_bright;
*/

/*-- scss:rules --*/

// color classes
.primary {
  color: $primary;
}

// code
pre.sourceCode {
  border-radius: 0;
  border-left-color: $gray;
  //font-size: .8em;
}

// title-slide

#title-slide {
  color: $white;
}

#title-slide .title {
  font-size: 70px;
  padding-bottom: .25em;
  color: $teal_bright;
}

#title-slide .subtitle {
  margin-bottom: 6rem;
}

.reveal .quarto-title-block .quarto-title-authors {
  display: block;
}

.reveal .quarto-title-block .quarto-title-authors .quarto-title-author {
    padding-left: 0;
    padding-right: 0;
    padding-bottom: 0.5em;
}

// alignment and spacing
.center-h {
  text-align: center;
}

.right {
  text-align: right;  
}

p {
  padding-bottom: 12px;
}

.cell {
  padding-bottom: 20px;
}

// headings
.reveal h2 {
  padding-bottom: 20px;
  color: $primary;
}

// sizes
.smaller90 {
  font-size: 90%;
}

.smaller80 {
  font-size: 80%;
}

.smaller75 {
  font-size: 75%;
}

.smaller70 {
  font-size: 70%;
}

.smaller60 {
  font-size: 60%;
}

.smaller50 {
  font-size: 50%;
}

.larger125 {
  font-size: 125%;
}

.larger150 {
  font-size: 150%;
}

.larger175 {
  font-size: 175%;
}

.larger200 {
  font-size: 200%;
}

.larger250 {
  font-size: 250%;
}

// figure caption
.reveal .slide figure>figcaption, .reveal .slide img.stretch+p.caption, .reveal .slide img.r-stretch+p.caption {
  font-size: 0.5em;
}

// tables
.reveal table th, .reveal table td {
    border-bottom: 1px solid;
    border-color: $gray20;
}


// keyboard
kbd {
  border: 1px solid #aaa;
  border-radius: 4px;
  display: inline-block;
  padding: 5px 9px;
  background: linear-gradient(178deg, #fff, #fff, #fff, #ddd);
}

// inverse
// with credit/thanks to Emil Hvidfeldt
// adapted from https://github.com/EmilHvitfeldt/quarto-revealjs-inverse

.inverse {
  color: $white;

  h1, h2, h3 {
    color: $teal_bright;
  }
  
  .slide-background-content {
    background-color: $aubergine;
  }
  
  a {
    color: $blue_bright;
  }
  
  p code {
    color: $gold_bright;
  }
}

// don't show page number on title-page
.reveal .slide-number > a[href*='title-slide'] {
  display: none;
}
