/*-- scss:defaults --*/

@import url(https://fonts.googleapis.com/css?family=Fira+Mono&display=swap);
@import url(https://fonts.googleapis.com/css?family=Lato:400,700&display=swap);


// fonts
$font-family-sans-serif: Lato, Helvetica, sans-serif !default;
$font-family-monospace: "Fira Mono", monospace;
$headings-font-family: Lato, Helvetica, sans-serif !default;

//  Warwick colors 
$aubergine: #552D62;
$aubergine90: #664272;
$aubergine80: #775781;
$aubergine70: #886C91; //paler
$aubergine60: #9981a1;
$aubergine50: #aa96b1;
$aubergine40: #bbabc0;
$aubergine30: #ccc0d0;
$aubergine20: #ddd5e0;
$aubergine10: #eeeaef;
$ruby: #9A1310;
$ruby90: #A42B28;
$ruby80: #AE4240;
$ruby70: #B85A58; //paler
$ruby60: #c27170;
$ruby50: #cd8988;
$ruby40: #d7a19f;
$ruby30: #e1b8b7;
$ruby20: #ebd0cf;
$ruby10: #f5e7e7;
$sky: #00407A;
$sky90: #195387;
$sky80: #336695;
$sky70: #4D79A2; //paler (70)
$sky60: #668caf;
$sky50: #80a0bd;
$sky40: #99b3ca;
$sky30: #b3c6d7;
$sky20: #CCD9E4;
$sky10: #e6ecf2;

// extra colors (complements of $aubergine and $sky)
$green: #3A622D;
$green90: #4E7242;
$green80: #618157;
$green70: #75916c;
$green60: #89a181;
$green50: #9db196;
$green40: #b0c0ab;
$green30: #c4d0c0;
$green20: #d8e0d5;
$green10: #ebefea;
$russet: #7A3A00;
$russet90: #874E19;
$russet80: #956133;
$russet70: #a2754d;
$russet60: #af8966;
$russet50: #bd9d80;
$russet40: #cab099;
$russet30: #d7c4b3;
$russet20: #e4d8cc;
$russet10: #f2ebe6;

$gray: #393A3B;
$gray90: #4d4e4f;
$gray80: #616162;
$gray70: #747576; //paler
$gray60: #888989;
$gray50: #9c9d9d;
$gray40: #b0b0b1;
$gray30: #c4c4c4;
$gray20: #d7d8d8;
$gray10: #ebebeb;
$gray05: #f5f5f5;
$gray120: #2e2e2f;
$gray140: #222323;
$gray160: #171718;
$gray180: #0b0c0c;

$primary:       $aubergine !default;

$presentation-font-size-root: 32px;
$code-block-font-size: .7em;
$presentation-heading-font: Lato, Helvetica, sans-serif !default;
//$presentation-heading-color: $ruby;
$body-color: $gray120;
$link-color: $sky70;
$code-color: $ruby80;

/*
// Doesn't work in Quarto 1.3, hopefully will fixed in 1.4
// need to use an inline raw html block directly in hte qmd file
$callout-color-note: $sky80;
$callout-color-important: $ruby80;
$callout-color-tip: $green80;
$callout-color-caution: $aubergine80;
$callout-color-warning: $russet80;
*/

/*
div.callout-warning {
  border-color-left: $russet80 !important;
}
*/

/*-- scss:rules --*/

// color classes
.primary {
  color: $primary;
}

// code

pre.sourceCode {
  border-radius: 0;
  border-left-color: $gray;
  //font-size: .8em;
}



// title-slide

#title-slide {
  color: $gray05;
}

#title-slide .title {
  font-size: 70px;
  padding-bottom: .25em;
}

#title-slide .subtitle {
  margin-bottom: 6rem;
}

.reveal .quarto-title-block .quarto-title-authors {
  display: block;
}

.reveal .quarto-title-block .quarto-title-authors .quarto-title-author {
    padding-left: 0;
    padding-right: 0;
    padding-bottom: 0.5em;
}

// alignment and spacing
.center-h {
  text-align: center;
}

.right {
  text-align: right;  
}

p {
  padding-bottom: 12px;
}

.cell {
  padding-bottom: 20px;
}

// headings
.reveal h2 {
  padding-bottom: 20px;
  color: $ruby;
}

// sizes
.smaller90 {
  font-size: 90%;
}

.smaller80 {
  font-size: 80%;
}

.smaller75 {
  font-size: 75%;
}

.smaller70 {
  font-size: 70%;
}

.smaller60 {
  font-size: 60%;
}

.smaller50 {
  font-size: 50%;
}

.larger125 {
  font-size: 125%;
}

.larger150 {
  font-size: 150%;
}

.larger175 {
  font-size: 175%;
}

.larger200 {
  font-size: 200%;
}

.larger250 {
  font-size: 250%;
}
// figure caption
.reveal .slide figure>figcaption, .reveal .slide img.stretch+p.caption, .reveal .slide img.r-stretch+p.caption {
  font-size: 0.5em;
}

// tables
.reveal table th, .reveal table td {
    border-bottom: 1px solid;
    border-color: $gray20;
}

// inverse
// with credit/thanks to Emil Hvidfeldt
// adapted from https://github.com/EmilHvitfeldt/quarto-revealjs-inverse

.inverse {
  color: $gray05;

  h1, h2, h3 {
    color: $gray05;
  }
  
  .slide-background-content {
    background-color: $aubergine;
  }
  
  a {
    color: $sky40;
  }
  
  p code {
    color: $ruby40;
  }
}

